
@{
    ViewBag.Title = "Index";
}

@section Scripts{

    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/Fazenda/Index.js"></script>

}

<form id="frmListFazenda" name="frmListFazenda">
    <h3>Listagem de Fazendas</h3>

    <div class="row">
        <div class="col-md-12">
            <legend style="padding-top:20px;">Filtro</legend>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label>Descrição</label>
            <input class="form-control" type="text" id="txtDescricao" name="txtDescricao" data-bind="value:Descricao" />
        </div>
        <div class="col-md-3">
            <label>Ativo</label>
            <select class="form-control" id="ddlAtivo" name="ddlAtivo" data-bind="value: Ativo">
                <option value="">Todos</option>
                <option value="true">Ativo</option>
                <option value="false">Inativo</option>
            </select>
        </div>
        <div class="col-md-3" style="padding-top:25px;">
            <button id="btnPesquisar" name="btnPesquisar" data-bind="click:Pesquisar" class="btn btn-default">Pesquisar</button>
        </div>
    </div>

    <div class="row" style="padding-top: 10px;">
        <div class="col-md-3">
            <div class="form-group">
                <a href="NewEdit" class="btn btn-info">Novo</a>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
            <table width="100%;">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Detalhes</th>
                        <th>Talhões</th>
                        <th>Ativo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: vm.Data">
                    <tr>
                        <td data-bind="text: Descricao()"></td>
                        <td data-bind="text: Detalhes()"></td>
                        <td data-bind="text: QtdeTalhoes()"></td>
                        <td data-bind="text: AtivoView()"></td>
                        <td><a data-bind="attr: { href: 'NewEdit/' + Id() }">Editar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
