﻿
@{
    ViewBag.Title = "NewEdit";
}

@section Scripts{

    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/Fazenda/NewEdit.js"></script>

}

<form id="frmFazenda" name="frmFazenda">
    <h3>Edição de Fazendas</h3>

    <div class="row">
        <div class="col-md-12">
            <legend style="padding-top:20px;">Dados Básicos</legend>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button id="btnCancelar" name="btnCancelar" class="btn btn-danger" data-bind="click:Cancelar">Voltar / Cancelar</button>
        </div>
        <div class="col-md-1">
            <button id="btnSalvar" name="btnSalvar" class="btn btn-success" data-bind="click:Salvar">Salvar</button>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-3">
            <label>Id</label>
            <input class="form-control" type="text" id="txtId" name="txtId" data-bind="value:Id, attr: { disabled: true }" />
        </div>
        <div class="col-md-3">
            <label>Nome</label>
            <input class="form-control" type="text" id="txtDescricao" required name="txtDescricao" data-bind="value:Descricao" />
        </div>
        <div class="col-md-3">
            <label>Sigla</label>
            <input class="form-control" type="text" id="txtSigla" name="txtSigla" data-bind="value:Sigla" />
        </div>
    </div>

    <div class="row" style="padding-top:10px;">
        <div class="col-md-3">
            <label>Proprietário</label>
            <select class="form-control" id="ddlProprietario" name="ddlProprietario" data-bind="value:IdProprietario">
                <option value="0">Selecione</option>
                <option value="1">Humberto Meirelles</option>
                <option value="2">Everton França</option>
                <option value="3">André Oliveira</option>
            </select>
        </div>
        <div class="col-md-3">
            <label>Município</label>
            <select class="form-control" id="ddlMunicipio" name="ddlMunicipio" data-bind="value:IdMunicipio">
                <option value="0">Selecione</option>
                <option value="1">Ribeirão Preto (SP)</option>
                <option value="2">Batatais (SP)</option>
                <option value="3">Cravinhos (SP)</option>
            </select>
        </div>
        <div class="col-md-3" style="padding-top:25px;">
            <label>Ativo</label>
            <input type="checkbox" id="chkAtivo" name="chkAtivo" data-bind="checked:Ativo" />
        </div>

    </div>


    <div class="row" style="padding-top:20px;">
        <div class="col-md-12">
            <legend>Talhões</legend>
            <button type="button" id="btnNovoTalhao" name="btnNovoTalhao" class="btn btn-info" data-toggle="modal" data-target="#frmModal" data-bind="click: koTalhao.New">
                Novo
            </button>
        </div>
    </div>

    <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
            <table width="100%;">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Ativo</th>
                        <th colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: vm.Talhoes">
                    <tr>
                        <td data-bind="text: Descricao"></td>
                        <td data-bind="text: Ativo"></td>
                        <td><a href="#" data-bind="click: function (data, elem) { koTalhao.Edit($index()); }">Editar</a></td>
                        <td><a href="#" data-bind="click: function (data, elem) { koTalhao.Remove($index()); }">Remover</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</form>

<!-- Modal -->
<div class="modal fade" id="frmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="_formModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Cadastro de Talhões da Fazenda</h4>
                </div>
                <div class="modal-body" data-bind="with: Talhao">

                    <div class="row">
                        <div class="col-md-3">
                            <label>Id</label>
                            <input class="form-control" type="text" id="txtTalhaoId" name="txtTalhaoId" data-bind="value:Id, attr: { disabled: true }" />
                        </div>
                        <div class="col-md-6">
                            <label>Descrição</label>
                            <input class="form-control" type="text" id="txtTalhaoDescricao" name="txtDescricao" data-bind="value:Descricao" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" style="padding-top:25px;">
                            <label>Ativo</label>
                            <input type="checkbox" id="chkAtivo" name="chkTalhaoAtivo" data-bind="checked:Ativo" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bind="click: koTalhao.Save">Salvar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Voltar / Cancelar</button>
                </div>
            </div>
        </div>
    </form>
</div>
